h2{ 
	margin-top:20px; 
	}
h3{
	
	font-weight:bold;
	color: #ff6600;
	padding-top : 10px;
	
}
#Titolo{ 
	padding:5px;
	text-align:center; 
	margin-top:40px;

	
}
main{
	text-align: center;
}
#DatiAnagrafici{
	width: 600px;
	display:inline-block;
	padding:25px; 
	background-color:white;
	text-align: center; 
	margin-top:5px;
webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	font-size: 1.3em;
	margin-bottom: 100px;
}
.ContenitoreInserimentoDatiAnagraficiTitolo{
	with:100%;
}
.ContenitoreInserimentoDatiAnagraficiForm{
	with:100%;
	text-align: center;
}

.FormInput{
	margin:3px;
}

#FormDatiAnagrafici{
	display: inline-block;
	text-align: center;
}
nav{
    background-color:#34344c; 

}
input[class="FormInput"],select{
	width: 230px;
	height: 35px;
	padding: 5px;
	outline-color: orange;
}
.spazio{
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
}
#btnContainer{
	margin:20px;
}
